In [12]:
import pandas as pd

In [13]:
tasks_connection = pd.read_csv('../../data/tasks.csv')[['TaskID', 'AssignedEmployees']]
tasks_connection.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   TaskID             90 non-null     object
 1   AssignedEmployees  90 non-null     object
dtypes: object(2)
memory usage: 1.5+ KB

In [14]:
# Split AssignedEmployees by comma and explode
tasks_connection['AssignedEmployees'] = tasks_connection['AssignedEmployees'].str.split(',')
tasks_with_exploded_precedents = tasks_connection.explode('AssignedEmployees')
tasks_with_exploded_precedents['AssignedEmployees'] = tasks_with_exploded_precedents['AssignedEmployees'].str.strip()

In [15]:
tasks_with_exploded_precedents = tasks_with_exploded_precedents.reset_index(drop=True)
tasks_with_exploded_precedents = tasks_with_exploded_precedents.dropna(subset=['AssignedEmployees'])
tasks_with_exploded_precedents.head(10)

         TaskID AssignedEmployees
0  TSK-CB0C0404                36
1  TSK-CB0C0404                 1
2  TSK-98C9448B                 1
3  TSK-98C9448B                11
4  TSK-A8A24727                 8
5  TSK-E6CFDD02                29
6  TSK-E6CFDD02                13
7  TSK-85D5D00C                21
8  TSK-85D5D00C                 7
9  TSK-C891B895                24

In [16]:
tasks_with_exploded_precedents.to_csv('../../data/edge_emp_do_task.csv', index=False)